* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
  }

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.logo {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*background image section*/

body {
    background-image: url(image/contactbg.jpg);
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  



  /*header graphs color*/
nav{
    
    margin-top: 20%;
    margin-bottom: 20%;
    
    
}

nav ul{
    text-align: left;
    width: 30%;
    list-style-type: none;

}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: aqua;
    font-family: 'Archivo Black', sans-serif;
    transition: 0.50s;
}
li a:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 0, 0);

}
.rsbody{
    color: white;
}



.link{
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 1px #006effc2;
}

.link1{
    color: brown;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 1px #006effc2;
}
